.jumbotron {
  text-align: center;
  background-color: #e7f9cc;
}
body {
  background-color: #fff1c1;
}
.p {
  font-size: 20px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
}
.panel {
  background-color: #e7f9cc;
}
.vleft {
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.vright {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.jumbotron {
  margin-top: 4%;
}
span {
  text-decoration: underline;
}
img {
  width: 100%;
  height: auto;
}
.parent {
  display: table;
}
.child {
  display: table-cell;
}
p {
  font-size: 24px;
}
.box {
  margin: 3px;
  border: 2px solid white;
  padding: 4px;
  background-color: gray;
}
