.jumbotron {
  text-align: center;
  background-color: #e7f9cc;
}
body {
  background-color: #fff1c1;
}
.p {
  font-size: 20px;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 4px 0;
  position: absolute;
  z-index: 1;
}
.panel {
  background-color: #e7f9cc;
}
.vleft {
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.vright {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.col-md-6 {
  height: 100%;
}
.jumbotron {
  margin-top: 4%;
}
span {
  text-decoration: underline;
}
